In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [4]:
## Data Loading
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## Preprocess the Data
### Drop irrelevant columns
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [59]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [60]:
## One Hot Encode geographical Column
from sklearn.preprocessing import OneHotEncoder

onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [61]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [62]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [63]:
## Combine OHE column with original data
data = pd.concat( [data.drop('Geography', axis=1) , geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [64]:
## Save the Encoder and Scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [65]:
## Divide the dataset into independent and dependent features
X = data.drop('Exited',axis=1)
y = data['Exited']

### Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2,random_state=42)

## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [66]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Implementation

In [67]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [68]:
(X_train.shape[1],)

(12,)

In [69]:
## Build our ANN Model
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ##HL1 Connected with input
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid') ## Output Layer
])

In [70]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [71]:
opt = tf.keras.optimizers.legacy.Adam(learning_rate=0.01)
loss = tf.keras.losses.BinaryCrossentropy()
loss

In [72]:
## Compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [73]:
## Set Up the TensorBoard
import datetime
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [74]:
## Set up early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [75]:
## Train the Model
history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 508us/step - loss: 0.3959 - accuracy: 0.8372 - val_loss: 0.3689 - val_accuracy: 0.8560
Epoch 2/100
250/250 [==============================] - 0s 369us/step - loss: 0.3561 - accuracy: 0.8543 - val_loss: 0.3452 - val_accuracy: 0.8580
Epoch 3/100
250/250 [==============================] - 0s 365us/step - loss: 0.3461 - accuracy: 0.8568 - val_loss: 0.3422 - val_accuracy: 0.8570
Epoch 4/100
250/250 [==============================] - 0s 364us/step - loss: 0.3425 - accuracy: 0.8597 - val_loss: 0.3540 - val_accuracy: 0.8595
Epoch 5/100
250/250 [==============================] - 0s 363us/step - loss: 0.3409 - accuracy: 0.8620 - val_loss: 0.3440 - val_accuracy: 0.8585
Epoch 6/100
250/250 [==============================] - 0s 363us/step - loss: 0.3378 - accuracy: 0.8612 - val_loss: 0.3436 - val_accuracy: 0.8590
Epoch 7/100
250/250 [==============================] - 0s 365us/step - loss: 0.3347 - accuracy: 0.8626 - val_loss: 0.3449 - val_accuracy: 0.8595
Epoch 8/100
250/250 [==============================] - 0s 366us/step - loss: 0.3311 - accuracy: 0.8627 - val_loss: 0.3539 - val_accuracy: 0.8580
Epoch 9/100
250/250 [==============================] - 0s 362us/step - loss: 0.3314 - accuracy: 0.8650 - val_loss: 0.3368 - val_accuracy: 0.8620
Epoch 10/100
250/250 [==============================] - 0s 364us/step - loss: 0.3317 - accuracy: 0.8662 - val_loss: 0.3517 - val_accuracy: 0.8565
Epoch 11/100
250/250 [==============================] - 0s 362us/step - loss: 0.3315 - accuracy: 0.8674 - val_loss: 0.3448 - val_accuracy: 0.8610
Epoch 12/100
250/250 [==============================] - 0s 364us/step - loss: 0.3243 - accuracy: 0.8676 - val_loss: 0.3484 - val_accuracy: 0.8590
Epoch 13/100
250/250 [==============================] - 0s 364us/step - loss: 0.3233 - accuracy: 0.8656 - val_loss: 0.3536 - val_accuracy: 0.8550
Epoch 14/100
250/250 [==============================] - 0s 363us/step - loss: 0.3196 - accuracy: 0.8701 - val_loss: 0.3566 - val_accuracy: 0.8590
Epoch 15/100
250/250 [==============================] - 0s 367us/step - loss: 0.3212 - accuracy: 0.8662 - val_loss: 0.3481 - val_accuracy: 0.8555
Epoch 16/100
250/250 [==============================] - 0s 365us/step - loss: 0.3178 - accuracy: 0.8696 - val_loss: 0.3511 - val_accuracy: 0.8585
Epoch 17/100
250/250 [==============================] - 0s 364us/step - loss: 0.3134 - accuracy: 0.8677 - val_loss: 0.3641 - val_accuracy: 0.8545
Epoch 18/100
250/250 [==============================] - 0s 360us/step - loss: 0.3123 - accuracy: 0.8714 - val_loss: 0.3482 - val_accuracy: 0.8565
Epoch 19/100
250/250 [==============================] - 0s 363us/step - loss: 0.3100 - accuracy: 0.8714 - val_loss: 0.3526 - val_accuracy: 0.8600

In [76]:
model.save('model.h5')

/Users/nitinmahajan/Udemy/ANN-IMPL/myenv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [77]:
## Load TensorBoard
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [78]:
%tensorboard --logdir logs/fit

ERROR: Could not find `tensorboard`. Please ensure that your PATH
contains an executable `tensorboard` program, or explicitly specify
the path to a TensorBoard binary by setting the `TENSORBOARD_BINARY`
environment variable.