In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
## Data Loading
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## Preprocess the Data
### Drop irrelevant columns
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [10]:
## One Hot Encode geographical Column
from sklearn.preprocessing import OneHotEncoder

onehot_encoder_geo = OneHotEncoder()
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [13]:
## onehot_encoder_geo.get_feature_names_out(['Geography'])
geo_encoded_df = pd.DataFrame(geo_encoded.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
## Combine OHE column with original data
data = pd.concat( [data.drop('Geography', axis=1) , geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
## Save the Encoder and Scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [16]:
## Divide the dataset into independent and dependent features
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

### Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2,random_state=42)

## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [17]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN REGRESSION PROBLEM STATEMENT

In [18]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [19]:
## Build our ANN Regression Model
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ##HL1 Connected with input
    Dense(32,activation='relu'), ## HL2
    Dense(1) ## Output Layer
])

In [20]:
## Compile the Model
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.keras.losses.MeanSquaredError()
model.compile(optimizer=opt, loss=loss, metrics=['mae'])

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [21]:
## Set Up the TensorBoard
import datetime
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [22]:
## Set up early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [23]:
## Train the Model
history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 623us/step - loss: 9235524608.0000 - mae: 79745.9219 - val_loss: 3462561792.0000 - val_mae: 50389.3789
Epoch 2/100
250/250 [==============================] - 0s 383us/step - loss: 3392482816.0000 - mae: 50048.3516 - val_loss: 3386166528.0000 - val_mae: 50171.5977
Epoch 3/100
250/250 [==============================] - 0s 380us/step - loss: 3341417472.0000 - mae: 49745.0000 - val_loss: 3361529856.0000 - val_mae: 50074.7539
Epoch 4/100
250/250 [==============================] - 0s 379us/step - loss: 3322431488.0000 - mae: 49632.8594 - val_loss: 3356842752.0000 - val_mae: 50028.5312
Epoch 5/100
250/250 [==============================] - 0s 379us/step - loss: 3315222016.0000 - mae: 49579.3672 - val_loss: 3373686016.0000 - val_mae: 50195.4141
Epoch 6/100
250/250 [==============================] - 0s 378us/step - loss: 3311095808.0000 - mae: 49535.6250 - val_loss: 3358492160.0000 - val_mae: 50050.0195
Epoch 7/100
250/250 [==============================] - 0s 381us/step - loss: 3302508288.0000 - mae: 49481.9414 - val_loss: 3375679744.0000 - val_mae: 50190.3867
Epoch 8/100
250/250 [==============================] - 0s 377us/step - loss: 3303851008.0000 - mae: 49541.1211 - val_loss: 3357884672.0000 - val_mae: 50074.9336
Epoch 9/100
250/250 [==============================] - 0s 377us/step - loss: 3299496448.0000 - mae: 49456.9883 - val_loss: 3368793856.0000 - val_mae: 50172.9883
Epoch 10/100
250/250 [==============================] - 0s 379us/step - loss: 3293505280.0000 - mae: 49433.7539 - val_loss: 3379852800.0000 - val_mae: 50181.5195
Epoch 11/100
250/250 [==============================] - 0s 377us/step - loss: 3294747392.0000 - mae: 49439.8164 - val_loss: 3366920448.0000 - val_mae: 50198.1445
Epoch 12/100
250/250 [==============================] - 0s 377us/step - loss: 3292273152.0000 - mae: 49419.3516 - val_loss: 3371953664.0000 - val_mae: 50168.6211
Epoch 13/100
250/250 [==============================] - 0s 376us/step - loss: 3288595968.0000 - mae: 49395.0039 - val_loss: 3355534080.0000 - val_mae: 50060.5039
Epoch 14/100
250/250 [==============================] - 0s 380us/step - loss: 3290126592.0000 - mae: 49393.3477 - val_loss: 3362213376.0000 - val_mae: 50121.8945
Epoch 15/100
250/250 [==============================] - 0s 376us/step - loss: 3284718080.0000 - mae: 49384.2266 - val_loss: 3374730496.0000 - val_mae: 50187.3398
Epoch 16/100
250/250 [==============================] - 0s 375us/step - loss: 3287179776.0000 - mae: 49371.9648 - val_loss: 3361285376.0000 - val_mae: 50094.0977
Epoch 17/100
250/250 [==============================] - 0s 370us/step - loss: 3287598336.0000 - mae: 49370.3984 - val_loss: 3369602816.0000 - val_mae: 50163.3633
Epoch 18/100
250/250 [==============================] - 0s 370us/step - loss: 3285562368.0000 - mae: 49382.2344 - val_loss: 3361146368.0000 - val_mae: 50105.7227
Epoch 19/100
250/250 [==============================] - 0s 369us/step - loss: 3281830400.0000 - mae: 49350.3906 - val_loss: 3362585856.0000 - val_mae: 50129.1445
Epoch 20/100
250/250 [==============================] - 0s 371us/step - loss: 3280397568.0000 - mae: 49342.2109 - val_loss: 3358340608.0000 - val_mae: 50112.4570
Epoch 21/100
250/250 [==============================] - 0s 371us/step - loss: 3277939968.0000 - mae: 49330.0586 - val_loss: 3373293056.0000 - val_mae: 50204.2656
Epoch 22/100
250/250 [==============================] - 0s 370us/step - loss: 3276847616.0000 - mae: 49290.1133 - val_loss: 3369958144.0000 - val_mae: 50122.5898
Epoch 23/100
250/250 [==============================] - 0s 378us/step - loss: 3276452864.0000 - mae: 49299.8828 - val_loss: 3363566848.0000 - val_mae: 50119.6406

In [24]:
model.save('regressionmodel.h5')

/Users/nitinmahajan/Udemy/ANN-IMPL/myenv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [25]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
%load_ext tensorboard
%tensorboard --logdir regressionlogs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6007 (pid 5473), started 0:00:41 ago. (Use '!kill 5473' to kill it.)

In [29]:
!kill 5373

zsh:kill:1: kill 5373 failed: no such process

In [30]:
!kill -9 5473